@mixin button ($bg-color,$text-color,$text-transform) {
    padding: 12px 18px;
    border: none;
    border-radius: 19px;
    margin: 20px;
    background-color:$bg-color ;
    color: $text-color;
    cursor:pointer;
    text-transform: $text-transform;
}
.red {
    @include button(red, black,capitalize)
}
.blue{
    @include button(blue, red,uppercase)
}