@font-face {
    font-family: nav;
    src: url(./sf-pro-text_regular.woff2);
}
@font-face {
    font-family: display;
    src: url(./sf-pro-display_semibold.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav {
    font-family:nav ;
    height: 50px;
    width: 100%;
      display: flex;
      align-items: center;
    justify-content: center;
    gap: 23px;
    background: #F5F5F7;
    text-transform: capitalize;
}
nav a {
    text-decoration: none;
    color: black;
}
.main h2 {
    text-align: center;
    margin-top: 8%;
    font-family: display;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 30px;
}
.main h1 {
    text-align: center;
   padding: 10px ;
    font-family: display;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 60px;
}
strong {
    background: linear-gradient( 209deg,#ea6044 39%,#dc5083 50%,#9a6df7 67%,#3f8def 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
#image {
    background-image: url(./hero_endframe__chv2d1bwb51e_xlarge.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    width: 850px;
    margin: 5% 20% 2% 20%;
}
h3 {
    text-align: center;
    padding-top: 3%;
        font-family: display;
        font-size: 25px;
        text-transform: capitalize;
        letter-spacing: 1px;
       background: linear-gradient(90deg,#0090f7,#ba62fc,#f2416b,#f55600,#f2416b,#ba62fc,#0090f7,#ba62fc,#f2416b,#f55600);
           -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  

}
button {
    padding: 10px 17px;
    border: none;
    background-color: #0076DF;
    border-radius: 40px;
    position: absolute;
    left: 48%;
    margin-top: 32px;
    text-transform: capitalize;
    color: white;
   
}