*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
#parent {
    height: 100%;
    width: 100%;
    background-color:black;
    display: grid;
    grid-template-rows:1fr 1fr 1f 1fr;
    grid-template-columns:30% 30% 20% 1fr;
 
}
.child {
      border: 3px solid goldenrod;
      
}
.child {
      border: 3px solid goldenrod;
      
}



.child:nth-child(2n) {
    background-color: green;
}
.child:nth-child(3n) {
    background-color: #fff;
}
.child:nth-child(4n-1) {
    background-color:lightblue;
}

